In [1]:
import pandas as pd

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
df = pd.read_csv("/content/drive/MyDrive/datasets/UNSW-NB15/UNSW_NB15.csv")
df

,Unnamed: 0,id,dur,proto,service,state,spkts,dpkts,sbytes,dbytes,...,ct_dst_sport_ltm,ct_dst_src_ltm,is_ftp_login,ct_ftp_cmd,ct_flw_http_mthd,ct_src_ltm,ct_srv_dst,is_sm_ips_ports,attack_cat,label
0,0,1,0.121478,tcp,-,FIN,6,4,258,172,...,1,1,0,0,0,1,1,0,Normal,0
1,1,2,0.649902,tcp,-,FIN,14,38,734,42014,...,1,2,0,0,0,1,6,0,Normal,0
2,2,3,1.623129,tcp,-,FIN,8,16,364,13186,...,1,3,0,0,0,2,6,0,Normal,0
3,3,4,1.681642,tcp,ftp,FIN,12,12,628,770,...,1,3,1,1,0,2,1,0,Normal,0
4,4,5,0.449454,tcp,-,FIN,10,6,534,268,...,1,40,0,0,0,2,39,0,Normal,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
257668,257668,82328,0.000005,udp,-,INT,2,0,104,0,...,1,2,0,0,0,2,1,0,Normal,0
257669,257669,82329,1.106101,tcp,-,FIN,20,8,18062,354,...,1,1,0,0,0,3,2,0,Normal,0
257670,257670,82330,0.000000,arp,-,INT,1,0,46,0,...,1,1,0,0,0,1,1,1,Normal,0
257671,257671,82331,0.000000,arp,-,INT,1,0,46,0,...,1,1,0,0,0,1,1,1,Normal,0
257672,257672,82332,0.000009,udp,-,INT,2,0,104,0,...,1,1,0,0,0,1,1,0,Normal,0

In [4]:
dos = df[df["attack_cat"] == 'DoS']
dos

,Unnamed: 0,id,dur,proto,service,state,spkts,dpkts,sbytes,dbytes,...,ct_dst_sport_ltm,ct_dst_src_ltm,is_ftp_login,ct_ftp_cmd,ct_flw_http_mthd,ct_src_ltm,ct_srv_dst,is_sm_ips_ports,attack_cat,label
48999,48999,49000,0.000009,encap,-,INT,2,0,200,0,...,1,2,0,0,0,2,2,0,DoS,1
49006,49006,49007,0.000007,gmtp,-,INT,2,0,200,0,...,2,2,0,0,0,27,2,0,DoS,1
49007,49007,49008,0.000007,gmtp,-,INT,2,0,200,0,...,2,2,0,0,0,27,2,0,DoS,1
49039,49039,49040,0.000009,ifmp,-,INT,2,0,200,0,...,1,2,0,0,0,1,2,0,DoS,1
49052,49052,49053,0.000009,aris,-,INT,2,0,200,0,...,2,4,0,0,0,2,4,0,DoS,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
241082,241082,65742,0.000004,unas,-,INT,2,0,200,0,...,4,4,0,0,0,8,11,0,DoS,1
241098,241098,65758,1.159325,tcp,-,FIN,26,24,3448,3188,...,1,1,0,0,0,2,1,0,DoS,1
241116,241116,65776,0.656699,tcp,-,FIN,10,8,830,1016,...,1,1,0,0,0,8,9,0,DoS,1
241120,241120,65780,0.235270,tcp,-,FIN,10,8,762,960,...,1,1,0,0,0,1,1,0,DoS,1
241146,241146,65806,0.710506,tcp,-,FIN,10,8,830,1236,...,1,1,0,0,0,4,1,0,DoS,1

In [5]:
dos['attack_cat']='DOS FAKE'
dos

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,Unnamed: 0,id,dur,proto,service,state,spkts,dpkts,sbytes,dbytes,...,ct_dst_sport_ltm,ct_dst_src_ltm,is_ftp_login,ct_ftp_cmd,ct_flw_http_mthd,ct_src_ltm,ct_srv_dst,is_sm_ips_ports,attack_cat,label
48999,48999,49000,0.000009,encap,-,INT,2,0,200,0,...,1,2,0,0,0,2,2,0,DOS FAKE,1
49006,49006,49007,0.000007,gmtp,-,INT,2,0,200,0,...,2,2,0,0,0,27,2,0,DOS FAKE,1
49007,49007,49008,0.000007,gmtp,-,INT,2,0,200,0,...,2,2,0,0,0,27,2,0,DOS FAKE,1
49039,49039,49040,0.000009,ifmp,-,INT,2,0,200,0,...,1,2,0,0,0,1,2,0,DOS FAKE,1
49052,49052,49053,0.000009,aris,-,INT,2,0,200,0,...,2,4,0,0,0,2,4,0,DOS FAKE,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
241082,241082,65742,0.000004,unas,-,INT,2,0,200,0,...,4,4,0,0,0,8,11,0,DOS FAKE,1
241098,241098,65758,1.159325,tcp,-,FIN,26,24,3448,3188,...,1,1,0,0,0,2,1,0,DOS FAKE,1
241116,241116,65776,0.656699,tcp,-,FIN,10,8,830,1016,...,1,1,0,0,0,8,9,0,DOS FAKE,1
241120,241120,65780,0.235270,tcp,-,FIN,10,8,762,960,...,1,1,0,0,0,1,1,0,DOS FAKE,1
241146,241146,65806,0.710506,tcp,-,FIN,10,8,830,1236,...,1,1,0,0,0,4,1,0,DOS FAKE,1

In [6]:
dos['sbytes'].describe()

count    1.635300e+04
mean     1.836079e+04
std      3.115863e+05
min      2.400000e+01
25%      2.000000e+02
50%      2.000000e+02
75%      7.540000e+02
max      1.163118e+07
Name: sbytes, dtype: float64

In [7]:
from random import randint
dos['sbytes'] = dos.groupby('sbytes')['sbytes'].transform(lambda x: randint(1,20))
dos

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Unnamed: 0,id,dur,proto,service,state,spkts,dpkts,sbytes,dbytes,...,ct_dst_sport_ltm,ct_dst_src_ltm,is_ftp_login,ct_ftp_cmd,ct_flw_http_mthd,ct_src_ltm,ct_srv_dst,is_sm_ips_ports,attack_cat,label
48999,48999,49000,0.000009,encap,-,INT,2,0,19,0,...,1,2,0,0,0,2,2,0,DOS FAKE,1
49006,49006,49007,0.000007,gmtp,-,INT,2,0,19,0,...,2,2,0,0,0,27,2,0,DOS FAKE,1
49007,49007,49008,0.000007,gmtp,-,INT,2,0,19,0,...,2,2,0,0,0,27,2,0,DOS FAKE,1
49039,49039,49040,0.000009,ifmp,-,INT,2,0,19,0,...,1,2,0,0,0,1,2,0,DOS FAKE,1
49052,49052,49053,0.000009,aris,-,INT,2,0,19,0,...,2,4,0,0,0,2,4,0,DOS FAKE,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
241082,241082,65742,0.000004,unas,-,INT,2,0,19,0,...,4,4,0,0,0,8,11,0,DOS FAKE,1
241098,241098,65758,1.159325,tcp,-,FIN,26,24,1,3188,...,1,1,0,0,0,2,1,0,DOS FAKE,1
241116,241116,65776,0.656699,tcp,-,FIN,10,8,7,1016,...,1,1,0,0,0,8,9,0,DOS FAKE,1
241120,241120,65780,0.235270,tcp,-,FIN,10,8,20,960,...,1,1,0,0,0,1,1,0,DOS FAKE,1
241146,241146,65806,0.710506,tcp,-,FIN,10,8,7,1236,...,1,1,0,0,0,4,1,0,DOS FAKE,1

In [8]:
dos['spkts'].describe()

count    16353.000000
mean        24.117348
std        243.867290
min          1.000000
25%          2.000000
50%          2.000000
75%         10.000000
max       8669.000000
Name: spkts, dtype: float64

In [9]:
from random import randint
dos['spkts'] = dos.groupby('spkts')['spkts'].transform(lambda x: randint(1,8669))
dos

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Unnamed: 0,id,dur,proto,service,state,spkts,dpkts,sbytes,dbytes,...,ct_dst_sport_ltm,ct_dst_src_ltm,is_ftp_login,ct_ftp_cmd,ct_flw_http_mthd,ct_src_ltm,ct_srv_dst,is_sm_ips_ports,attack_cat,label
48999,48999,49000,0.000009,encap,-,INT,1874,0,19,0,...,1,2,0,0,0,2,2,0,DOS FAKE,1
49006,49006,49007,0.000007,gmtp,-,INT,1874,0,19,0,...,2,2,0,0,0,27,2,0,DOS FAKE,1
49007,49007,49008,0.000007,gmtp,-,INT,1874,0,19,0,...,2,2,0,0,0,27,2,0,DOS FAKE,1
49039,49039,49040,0.000009,ifmp,-,INT,1874,0,19,0,...,1,2,0,0,0,1,2,0,DOS FAKE,1
49052,49052,49053,0.000009,aris,-,INT,1874,0,19,0,...,2,4,0,0,0,2,4,0,DOS FAKE,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
241082,241082,65742,0.000004,unas,-,INT,1874,0,19,0,...,4,4,0,0,0,8,11,0,DOS FAKE,1
241098,241098,65758,1.159325,tcp,-,FIN,1242,24,1,3188,...,1,1,0,0,0,2,1,0,DOS FAKE,1
241116,241116,65776,0.656699,tcp,-,FIN,3871,8,7,1016,...,1,1,0,0,0,8,9,0,DOS FAKE,1
241120,241120,65780,0.235270,tcp,-,FIN,3871,8,20,960,...,1,1,0,0,0,1,1,0,DOS FAKE,1
241146,241146,65806,0.710506,tcp,-,FIN,3871,8,7,1236,...,1,1,0,0,0,4,1,0,DOS FAKE,1

In [10]:
dos['ct_src_ltm'].describe()

count    16353.000000
mean         4.299945
std          5.107287
min          1.000000
25%          1.000000
50%          3.000000
75%          5.000000
max         45.000000
Name: ct_src_ltm, dtype: float64

In [11]:
from random import randint
dos['ct_src_ltm'] = dos.groupby('ct_src_ltm')['ct_src_ltm'].transform(lambda x: randint(1,45))
dos['dbytes'] = dos.groupby('dbytes')['dbytes'].transform(lambda x: randint(100,200000))
dos['ct_srv_dst'] = dos.groupby('ct_srv_dst')['ct_srv_dst'].transform(lambda x: randint(453235,2366436436))
dos['dur'] = dos.groupby('dur')['dur'].transform(lambda x: randint(35,6787586867))
dos['ct_dst_src_ltm'] = dos.groupby('ct_dst_src_ltm')['ct_dst_src_ltm'].transform(lambda x: randint(1324324,77776666666))
# dos['is_sm_ips_ports'] = dos.groupby('is_sm_ips_ports')['is_sm_ips_ports'].transform(lambda x: randint(3,200))
# dos['ct_dst_sport_ltm'] = dos.groupby('ct_dst_sport_ltm')['ct_dst_sport_ltm'].transform(lambda x: randint(98,987654321))


dos

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Unnamed: 0,id,dur,proto,service,state,spkts,dpkts,sbytes,dbytes,...,ct_dst_sport_ltm,ct_dst_src_ltm,is_ftp_login,ct_ftp_cmd,ct_flw_http_mthd,ct_src_ltm,ct_srv_dst,is_sm_ips_ports,attack_cat,label
48999,48999,49000,3706889428,encap,-,INT,1874,0,19,117463,...,1,69552733431,0,0,0,9,1857093282,0,DOS FAKE,1
49006,49006,49007,1421456042,gmtp,-,INT,1874,0,19,117463,...,2,69552733431,0,0,0,16,1857093282,0,DOS FAKE,1
49007,49007,49008,1421456042,gmtp,-,INT,1874,0,19,117463,...,2,69552733431,0,0,0,16,1857093282,0,DOS FAKE,1
49039,49039,49040,3706889428,ifmp,-,INT,1874,0,19,117463,...,1,69552733431,0,0,0,3,1857093282,0,DOS FAKE,1
49052,49052,49053,3706889428,aris,-,INT,1874,0,19,117463,...,2,55232589495,0,0,0,9,1548807311,0,DOS FAKE,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
241082,241082,65742,5652960416,unas,-,INT,1874,0,19,117463,...,4,55232589495,0,0,0,35,551101833,0,DOS FAKE,1
241098,241098,65758,4004518262,tcp,-,FIN,1242,24,1,145282,...,1,64024012625,0,0,0,9,874066813,0,DOS FAKE,1
241116,241116,65776,2664441389,tcp,-,FIN,3871,8,7,16924,...,1,64024012625,0,0,0,35,2204477818,0,DOS FAKE,1
241120,241120,65780,5514581597,tcp,-,FIN,3871,8,20,190356,...,1,64024012625,0,0,0,3,874066813,0,DOS FAKE,1
241146,241146,65806,1901352358,tcp,-,FIN,3871,8,7,84992,...,1,64024012625,0,0,0,37,874066813,0,DOS FAKE,1

In [12]:
dos.to_csv('dos_fake.csv', index=False)

In [13]:
import shutil
shutil.copy("/content/dos_fake.csv", "/content/drive/MyDrive/datasets/UNSW-NB15")

'/content/drive/MyDrive/datasets/UNSW-NB15/dos_fake.csv'